html, body {
				padding: 0;
				margin: 0;
			}
			body, div, p {
				font-size: 13px;
			}
			body {
				background-color: #eee;
			}
			#heroCarouselContainer.wrapper {
				background-color: white;
				width: 1000px;
				margin: 40px auto 0;
				font-family: Arial, Helvetica, Verdana;
				color: #333;
				
			}
			#heroCarouselContainer.list_carousel {
				background-color: #ccc;
				width: 1000px;
			}
			#heroCarouselContainer.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			#heroCarouselContainer.list_carousel ul li {
				text-align: center;
				background-color: #fff;
				width: 1000px;
				height: 450px;
				padding: 0;
				display: block;
				float: left;
			}
			#heroCarouselContainer.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			#heroCarouselContainer .clearfix {
				float: none;
				clear: both;
			}
			#heroCarouselContainer .prev {
				float: left;
				margin-left: 10px;
			}
			#heroCarouselContainer .next {
				float: right;
				margin-right: 10px;
			}
			#heroCarouselContainer .pager {
				float: left;
				width: 300px;
				text-align: center;
			}
			#heroCarouselContainer .pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			#heroCarouselContainer .pager a.selected {
				text-decoration: underline;
			}
			#heroCarouselContainer .timer {
				background-color: #999;
				height: 6px;
				width: 0px;
			}
			#heroCarouselContainer .slide1, #heroCarouselContainer .slide2, #heroCarouselContainer .slide3, #heroCarouselContainer .slide4, 
			#heroCarouselContainer .slide5{width: 1000px; overflow: hidden;}
			#heroCarouselContainer .slide1 p, #heroCarouselContainer .slide2 p, #heroCarouselContainer .slide3 p, #heroCarouselContainer .slide4 p, 
			#heroCarouselContainer .slide5 p{text-align: center; padding : 0px 20px; font-weight: normal}
			#heroCarouselContainer .pull-left{float: left}
			#heroCarouselContainer #prev2, #heroCarouselContainer #next2{width:45px; height: 50px;position: relative; top: -70px;
			background: url('../images/miscellaneous_sprite.png') no-repeat; background-position: -50px -100px}
			#heroCarouselContainer #prev2{left: 875px; background: url('../images/miscellaneous_sprite.png') no-repeat; background-position: 0 -100px}
			#heroCarouselContainer #next2{left: 0px;}
			#heroCarouselContainer p.position1{width:150px;margin-left:15%}
			#heroCarouselContainer .pause{position: relative; top: -70px;left: 840px;width:45px; height: 50px;background: url('../images/miscellaneous_sprite.png') no-repeat;background-position: -150px -50px;float:left}
			#heroCarouselContainer .pause.paused{background-position: -100px -50px;}
			
			#heroCarouselContainer .slide1 .photo{width: 320px;margin-left: 9%; margin-top: 5%}
			#heroCarouselContainer .slide2 .photo{width: 340px;margin-left: 5%; margin-top: 3%}
			#heroCarouselContainer .slide3 .photo{width: 360px;margin-left: 5%; margin-top: 1%}
			#heroCarouselContainer .slide4 .photo1{width: 150px;margin-left: 3%; margin-top: 0%}
			#heroCarouselContainer .slide4 .photo2{width: 260px;margin-left: 0%; margin-top: 15%}
			#heroCarouselContainer .slide5 .photo1{width: 320px;margin-left: 3%; margin-top: 8%}
			#heroCarouselContainer .slide5 .photo2{position: relative;float:left; width: 192px;}
			
			
			
			#heroCarouselContainer .slide1 .copyLatest{width: 370px;margin-top: 7%}
			#heroCarouselContainer .slide2 .copyLatest{width: 370px;margin-top: 5%}
			#heroCarouselContainer .slide3 .copyLatest{width: 480px;margin-top: 5%}
			#heroCarouselContainer .slide4 .copyLatest{width: 550px;margin-top: 2%}
			#heroCarouselContainer .slide5 .copyLatest{width: 415px;margin-top: 3%}
			#heroCarouselContainer .slide4 .copyLatest p{padding: 0px;margin-top: 5px; margin-bottom: 7px}
			#heroCarouselContainer .slide5 .copyLatest p{margin-top: 5px; margin-bottom: 10px}